#ball.bouncing {
    animation: bounce .4s infinite alternate;
    color: green;
}

@keyframes bounce {
    0% {
        transform: translateY(5px);
    }
    100% {
        transform: translateY(-5px);
    }
}

#ball.returning {
    animation: return .4s forwards ease-out;
}

@keyframes return {
    from { transform: translateY(); }
    to { transform: none; }
}


#ball {
    color: red;
}